/* Estilos personalizados */

/* Ajustes de margen para el contenido principal */
.container {
    padding-top: 20px;
  }
  
  /* Estilos para la columna lateral */
  .col-md-4 {
    border-right: 1px solid #ccc;
  }
  
  .col-md-4 h3 {
    margin-top: 0;
  }
  
  .col-md-4 ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .col-md-4 ul li {
    margin-bottom: 10px;
  }
  
  /* Estilos para los artículos */
  article {
    margin-bottom: 30px;
  }
  
  article h2 {
    margin-top: 0;
  }
  